<div class="{{styles.index}}">
    {{ variable }}

    <div>
        <a href="/404.html">404</a><br>
        <div>
            <a href="/500.html">5xx</a>
            <a href="/503.html">503</a>
            <a href="/504.html">504</a>
        </div>
        <a href="/auth.html">Authorization</a><br>
        <a href="/profile.html">Profile</a><br>
    </div>

    {{> button label="Я не похожа на кнопку" }}
    {{> button isPrimary=true label="Я похожа на кнопку" }}

{{> message content="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну.
Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро." }}

{{> message isOwner=true content="Принято)" }}

</div>